@font-face {
  font-family: "SpecialElite-Regular";
  src: url("./Font/Special_Elite/SpecialElite-Regular.ttf");
}

body {
  background-image: url("./pic/bg.avif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "SpecialElite-Regular";
}

h1 {
  font-size: 1.5em;
  text-align: center;
  margin: 2em 0 1.5em;
}

.main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.runes-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  width: 60%;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: 3px solid black;
}

#message {
  margin: 0 0 1.5em 0;
}

#successMessagesContainer {
  margin: 1.5em 0;
  text-align: center;
}

/* Définir l'animation pour l'enfoncement */
@keyframes pressEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
/* Ajouter la classe 'pressed' pour déclencher l'animation */
.runes.pressed {
  animation: pressEffect 0.5s ease-in-out;
}

.selected-color-1 {
  border: 3px solid red;
  box-shadow: 0 0 10px red;
}

.selected-color-2 {
  border: 3px solid green;
  box-shadow: 0 0 10px green;
}

.selected-color-3 {
  border: 3px solid blue;
  box-shadow: 0 0 10px blue;
}

#reset {
  border: none;
  background-color: rgb(244, 225, 203);
  font-family: "SpecialElite-Regular";
  font-size: 2em;
  text-align: center;
  font-style: italic;
}
